body,html{
  margin: 0; padding: 0;
  overflow: hidden;
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  }
.container {
  flex: 1;
  position: relative;
  }

.canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
#ui {
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      overflow-x: auto;
      white-space: wrap;
      display: flex;
      gap: 15px;
      box-sizing: border-box;
    }
.ui label {
      display: flex;  
      flex-direction: column;
      font-size: 12px;
      user-select: none;
      min-width: 80px;
      align-items: center;
    }
#ui input[type=range] {
      width: 70px;
    }
@media (max-width: 500px) {
      .ui {
        font-size: 10px;
        gap: 10px;
      }
      .ui label {
        min-width: 60px;
      }
      .ui input[type=range] {
        width: 50px;
      }
    }

