@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 2% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home-content {
    margin-top: 5rem;
}
.home .home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
    margin-top: 5rem;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 10rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.multiple-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.multiple-text span{
    position: relative;
    
}

.services{
    height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 
 .services h2 span {
    color: #b74b4b;
 }
 
 .services h2{
    margin-bottom: 5rem;
    font-size: 50px;
    text-align: center;
 }
 
 
 .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
 }
 
 .services-container .services-box{
    flex: 1 1 30rem;
    background: #b74b4b;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #081b29;
    
 }
 
 .services-box i{
    font-size: 7rem;
    color: #b74b4b;
 }
 
 .services-box h3{
    font-size: 2.6rem;
 }
 
 .services-box p{
    font-size: 1.3rem;
    padding: 2rem;
 }
 
 .services-box {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
 }

 .btn-services{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 10rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-services:hover{
    transform: scale3d(1.03);
    color: #b74b4b;
    box-shadow: 0 0 30px black;
}

.text-services{
    color: #b74b4b;
}

.edits{
    height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
 }

 .edits{
    
    height: 100vh;
    margin-left: 5rem;
    margin-right: 2rem;
    justify-content: center;
 }
 
 .edits h2 span {
    color: #b74b4b;
 }
 
 .edits h2{
    margin-bottom: 5rem;
    font-size: 50px;
    text-align: center;
 }

 .edits .video-container{
    display: flex;
    justify-content: space-evenly;
}

.edits .video-container h3{
    text-align: center;
    color: #b74b4b;
    font-size: 31px;
}


.edits .videos{
    border: 3px solid #b74b4b;
}

.graphics{
    height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 
 .graphics h2 span {
    color: #b74b4b;
 }
 
 .graphics h2{
    margin-bottom: 5rem;
    font-size: 50px;
    text-align: center;
 }

 .graphics .graphics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #b74b4b;
 }

 .graphics-img img{
    width: 350px;

 }
 

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
   
@media(max-width:565px){
    .home{
        flex-wrap: wrap;
        margin: 5rem 4rem;
        margin-left: 5rem;
        
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        align-items: center;
        width: 70vw;
        margin-top: 4rem;
    }

    .services-container{

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .edits{
        padding-top: 20rem;
    }

    .edits h2{
        text-align: center;
    }

    .edits .video-container{
        display: flex;
        flex-wrap: wrap;
    }

    .edits .video-container{
        justify-content: space-evenly;
        
    }

    .edits .videos{
       justify-content: center;
       margin-bottom: 4rem;
    }

}

